<!DOCTYPE html>
<html>
<head>
    <title>Demo page</title>
    <meta name="_csrf" content="{{_csrf.token}}"/>
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
    {{>head }}
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Demo page</h1>
    </div>
    <div class="page-content">
        <input type="text" bid="username" name="username" value="" placeholder="username">
        <input type="password" bid="password" name="password" value="" placeholder="password">
        <button class="btn btn-default" bid="ajaxLogin">Ajax Login</button>
        <button class="btn btn-default" bid="ajaxLogout">Ajax Logout</button>
        <div bid="msg"></div>
    </div>
</div>
{{>scripts}}
<script type="application/javascript" src="/js/dba.js"></script>
</body>
</html>
